.btn-outline-success{
    background-color: #8cc444;
}

.btn-outline-success:hover{
    background-color: #cce4a8;
}

h1{
    margin-top: 40px;
    margin-bottom: 20px;
}


.pristine-error{
    color:red;
    font-size: smaller;
}


.has-danger{
    border-color: red;
    border-width: 1px;
    border-style:dashed;
}